[submodule "third_party/wabt"]
	path = third_party/wabt
	url = https://github.com/WebAssembly/wabt.git
[submodule "third_party/testsuite"]
	path = third_party/testsuite
	url = https://github.com/MotleyCoderDev/testsuite.git
[submodule "third_party/binaryen"]
	path = third_party/binaryen
	url = https://github.com/MotleyCoderDev/binaryen.git
