[submodule "third_party/wabt"]
	path = third_party/wabt
	url = https://github.com/WebAssembly/wabt.git
[submodule "third_party/testsuite"]
	path = third_party/testsuite
	url = https://github.com/TrevorSundberg/testsuite.git
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://github.com/TrevorSundberg/musl.git
